*{
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}


.grilla {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4% 8% 85% 7%;
    font-family: 'Poppins', sans-serif;

}


.promo {
    background-color:gainsboro;
    padding: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.menup {
    display: flex;
    padding: 10px;
    align-items: center;
}

.menup a{
    text-decoration: none;
    padding: 15px;
    color: black;
    font-size: 20px;
    transition: font-size 0.2s;
}

.menup a:hover {
    font-weight: 100;
    color: gainsboro;
    font-size: 22px;
}

.d-flex button{
border-color:black;
color: black;
transition: background-color 0.2s;
}   

.d-flex button:hover{
    background-color: springgreen;
    color: black;
    }   


.logo{
    box-sizing: border-box;
    width: 100px;
    height: 25px;
    object-fit: cover;
}


.contmenu{
    margin: auto;
    max-width: 1280px;
    min-width: 320px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.menu a {
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    color: black;
    transition: font-size 0.2s;
}

.menu a:hover {
    font-weight: 100;
    color: gainsboro;
    font-size: 22px;
}

.menu li{
    list-style: none;
    align-self: center;

}



.main {

    display: flex;
    flex-direction: column;
    justify-content: centers;
    flex-wrap: nowrap;
    align-items: center;

}



.main span {
    display: block;
    box-sizing: border-box;
    background-color: white;
    border-width: 0.5px;
    border-style:inset;
    border-color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 160px;
    text-align: center;
    transition: background-color 0.2s;
}

.main span:hover{
    background-color:springgreen;
}

footer {
    display: grid;
    background-color: gainsboro;
    grid-template-columns: 33.33% 33.33% 33.33%;
    align-items: center;
    justify-items: center;
    align-content: space-around;

}


h2 {
    position: relative;
    font-weight: lighter;
}

.informativo img {
    width: 100%;
    height: 100%;

}


.nuevosingresos img {
    width: 100%;
    height: 80%;
}

.marcas img {
    width: 100%;
    height: 80%;
}

.informativo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: space-evenly;
    margin: 20px;

}

.nuevosingresos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}

.marcas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;


}

.ayuda {
    display: grid;
    grid-template-columns: 60vw;
    justify-items: center;
    margin: 20px;


}

.preguntas {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw ;
    column-gap: 10px;
    justify-items: center;
    margin: 0px;

}

.preguntas span {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
}
.tzapato {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.tzapato button {
    width: 100px;
    height: 30px;
    margin: 5px;
    text-align: center;
    font-size: 12px;
    background-color: white;
    transition: background-color 0.2s;
}

.tzapato button:hover{
    background-color: springgreen;
}

.tbaja {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;

}

.tbaja button {
    width: 100px;
    height: 30px;
    margin: 5px;
    text-align: center;
    font-size: 12px;
    background-color: white;
    transition: background-color 0.2s;
}

.tbaja button:hover{
    background-color: springgreen;
}

.tsuperior {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.tsuperior button {
    width: 100px;
    height: 30px;
    margin: 5px;
    text-align: center;
    font-size: 12px;
    background-color: white;
    transition: background-color 0.2s;
}

.tsuperior button:hover{
    background-color: springgreen;
}

.mainventa {

    display: grid;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: space-evenly;

}


.infoventa{
    display: flex;
    background-color: ghostwhite;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    
}

.formventa{
    display: flex;
    background-color: honeydew;
    padding: 20px;
    flex-direction: column;
    align-items: center;

}

.imgpasosventa
{
    position: relative;
    left: 50px;
    width: 272px;
}

.filtros {
    background-color: honeydew;
    position: absolute;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 150px;
    padding-right: 40px;
    position: fixed;
    margin-left: 20px;
    margin-top: 10px;
}

.producto1{
    position: absolute;
    left: 200px;
    text-align: center;
    margin: 40px;

}

.producto2{
    position: absolute;
    left: 500px;
    text-align: center;
    margin: 40px;

}
.producto3{
    position: absolute;
    left: 800px;
    text-align: center;
    margin: 40px;
}
.imgproducto{
    width: 200px;
    height: 300px;
}

@media (max-width: 768px) {
    .grilla {
        font-size: 15px;
    }

    .informativo {
        margin: 5px;
    }
    
    .nuevosingresos {
        margin: 5px;
    }
    
    .marcas {
        margin: 5px;
    }
    
    .ayuda {
        margin: 5px;
    }

    .preguntas {
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
    }

}